header {
	text-align:center;
	> .link-item {
		display: inline-block;
		min-width: 80px;
		text-align: center;
		line-height: 44px;
		font-size: 18px;
		+ .link-item {
			margin-left: 15px;
		}
	}
}
.page-title {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	padding: 10px 0;
}